.be-the-one {
  display: flex;
}

.img {
  width: 500px;
  height: 500px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

body {
  background-image: url("https://www.lakewanaka.co.nz/assets/Regions//Wanaka-Regions-Matukituki-Valley-credit-Ridgeline.jpg");
}
